.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  font-family: "Courier New", monospace;
  text-align: center;
  background: linear-gradient(-45deg, #f3e5f5, #59e73c, #1aa095, #9eb32b);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

body {
    background: linear-gradient(-45deg, #d728f1, #861818, #23a6d5, #32cc3a);
    text-align: center;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
}
h1 {
  margin: 30px;
  font-family: sans-serif;
  font-style: bold;
  font-size: 4.5rem;
  color: black;
  text-align: center;
}

img {
  width: 100%;
}

.bottom {
  padding-top: 50px;
}

.butn {
  background: linear-gradient(-45deg, #f3e5f5, #e73c7e, #23a6d5, #00ffff);
  font-family: sans-serif;
  border-radius: 7px;
  color: black;
  font-size: 30px;
  padding: 10px 22px 10px 22px;
}

.butn:hover {
  background: skyblue;
  text-decoration: none;
}
img.winner1{
  position:absolute;
  left: 25%;
  width: 15%;
  height: auto;
  vertical-align:;
}
img.winner2{
  position:absolute;
  right: 25%;
  width: 15%;
  height: auto;
}


p{
    font-weight: bold;
    font-size: 20px;
}
