.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

body {
  background: linear-gradient(-45deg, #f3e5f5, #e73c7e, #23a6d5, #00ffff);
  text-align: center;

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0;
}
h1 {
  margin: 30px;
  font-family: sans-serif;
  font-style: bold;
  font-size: 4.5rem;
  color: black;
  text-align: center;
}

img {
  width: 100%;
}

.bottom {
  padding-top: 30px;
}

.butn {
  background: linear-gradient(-45deg, #f3e5f5, #e73c7e, #23a6d5, #00ffff);
  font-family: sans-serif;
  border-radius: 7px;
  color: black;
  font-size: 30px;
  padding: 10px 22px 10px 22px;
}

.butn:hover {
  background: violet;
  text-decoration: none;
}
