
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}
.container input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.dice1{background-image:url("./diceroll.gif");}
.dice2{background-image:url("./diceroll.gif");}

#dice1:checked ~ label[for="dice1"],
#dice2:checked ~ label[for="dice2"] {
    visibility: hidden;
}
.dices{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    
}

body {
    background-color: beige;
    margin: 0;
}

h1 {
    margin: 30px;
    font-family: sans-serif; 
    font-style: bold;
    font-size: 4.5rem;
    color: black;
    text-align: center;
}
.result{
    width: 70%;
    margin: auto;
    text-align: center;
}

h3{
    font-family: sans-serif; 
    font-style: bold;
}

